@import url('./main-layout.css');
.status-new {
    background-color: #e3f2fd;
}
.status-think {
    background-color: #eadb31;
}
.status-rejected {
    background-color: #e40724;
}
.status-adopted {
    background-color: #238c17;
}

 .wrap-text {
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;
 }
